<p>Hi <%= name %>,<br><br>
    Thanks for signing the waiver! We can't wait to see you at AngelHacks! <br><br>
    Please review the attached PDF and ensure that your information is correct.

    Feel free to reply to this email with any questions! Check out https://angelhacks.org for more
    <br><br>Thanks, <br><br> --@neelr</p>